.myCart-total {
    margin: 50px 15%;
}

.mycart-title {
    font-size: 45px;
}

.mycart-product-title {
    /* font-weight: 400; */
    font-weight: bold;
    font-size: 16px;
    color: rgb(52, 52, 52, 0.7);
}

.mycart-quantity-title {
    font-weight: bold;
    font-size: 15px;
    color: rgb(52, 52, 52, 0.7);
    margin-left: 200px;
}

.mycart-title2-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(155, 154, 154, 0.7);
    margin-bottom: 20px;
}

.mycart-empty-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 100px;
}
.mycart-continue-button {
    width: 300px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Roboto, sans-serif';
}

.cart-item-container {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.cart-img {
    width: 140px;
    /* height: 120px; */
    margin-right: 10px;
}

.cart-item-text {
    width: fit-content;
    margin: 0;
    font-size: 17px;
    font-weight: 200;
}

.cart-quantity-control {
    border: 1px solid;
    width: fit-content;
    background-color: white;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    justify-content: space-around;
    font-weight: 300;
    margin-left: -80px;
}

.cart-quantity-button {
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto, sans-serif';
    padding-bottom: 8px;
}

.cart-quantity-button-plus {
    border: none;
    background-color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Roboto, sans-serif';
    padding-bottom: 4px;
}

.cart-item-price {
    width: 70px;
    text-align: end;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
}

.mycart-bottom-div {
    border-top: 1px solid rgba(155, 154, 154, 0.7);
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px;
}

.cart-subtotal {
    font-size: 25px;
    font-weight: 400;
}

.cart-subtotal-text {
    font-size: 23px;
    font-weight: 300;
}

.mycart-checkout-button {
    width: 250px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    align-self: flex-end;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 200;
    font-family: 'Roboto, sans-serif';
}
